<h1>Here's a form to create a new company:</h1>
<%= form_tag '/companies', method: :post do %>
	<p><%= label_tag :name %>
	<%= text_field_tag :name %></p>
	<p><%= label_tag :slogan %>
	<%= text_field_tag :slogan %></p>
	<p><%= label_tag :phone %>
	<%= text_field_tag :phone %></p>
	<p><%= submit_tag 'Create New Company' %></p>
<% end %>